.cart-item{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.2em;
	border-radius: 0.5em;
	margin-top: 0.5em;
	gap: 2em;
}

.cart-number-item{
	width: 4em;
}

.cart-item-name{
	max-width: 4em;
}