.item-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-item{
	margin: 1em;
	width: 11em;
}

.image-container{
	position: relative;
}
.card-item:hover::after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.1;
	background: grey;
}

.card-item:hover{
	transform: translateY(-3%);
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
	0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
}

.item-description{
	width: 8em;
	text-align: left;
}

.item-name{
	width: 7em;
	word-wrap: wrap;
	text-align: left;
	align-self: flex-start;
}

.item-price{
	align-self: flex-end;
	width: fit-content;
}

.css-rmlqu9{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.css-rmlqu9{
	padding: 0.5em !important;
}